@page
@model TheLivery.Pages.Comenzi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Preluare comenzi</h1>

<section class="all-sections">
    <div class="h1 text-center text-dark mt-5 mb-5">Colete</div>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Id_Colet</th>
                <th scope="col">Expeditor</th>
                <th scope="col">Destinatar</th>
                <th scope="col">Adresa livrare</th>
                <th scope="col">Greutate</th>
                <th scope="col">Inaltime</th>
                <th scope="col">Latime</th>
                <th scope="col">Descriere</th>
                <th scope="col">Stare</th>
                <th scope="col">Cost</th>
                <th scope="col">Preluare</th>
            </tr>
        </thead>
        
            <tbody>
                @foreach (var item in Model.Colete)
                {
                    if (item.Stare.Equals("Nepreluat"))
                    {
                <form method="post">
                    <tr class="text-center">

                        <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
                        <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.ID)" class="form-control" />
                        <input type="hidden" name="idcurier" value="1" class="form-control" />
                        <input type="hidden" name="cost" value="@Html.DisplayFor(modelItem => item.Cost)" class="form-control" />

                        <td>@Html.DisplayFor(modelItem => item.Firma.Nume)</td>
                        <td>@Html.DisplayFor(modelItem => item.Client.Nume_complet)</td>
                        <td>@Html.DisplayFor(modelItem => item.Client.Adresa)</td>
                        <td>@Html.DisplayFor(modelItem => item.Greutate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Inaltime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Latime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descriere)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stare)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                        <td>

                            <input type="hidden" value="preia" />
                            <input type="submit" value="Preia" class="button-submit text-light px-3 py-1" />

                        </td>
                    </tr>
                </form>
                    }
                    }
</tbody>
       
    </table>
</section>

<section class="all-sections">
    <div class="h1 text-center text-dark mt-5 mb-5">Comenzi</div>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Id_Comanda</th>
                <th scope="col">Curier</th>
                <th scope="col">Id_Colet</th>
                <th scope="col">Informatii aditionale</th>
                <th scope="col">Data livrare</th>
                <th scope="col">Cost</th>
                <th scope="col">AWB</th>
                <th scope="col">Stare</th>
                <th scope="col">Preluare</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comenzi)
            {<form method="post">
                 <tr class="text-center">
                     <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
                     <input type="hidden" name="stareComanda" value="LIVRAT" class="form-control" />
                     <input type="hidden" name="idComanda" value="@Html.DisplayFor(modelItem => item.ID)" class="form-control" />
                     <td> @Html.DisplayFor(modelItem => item.Curier.Nume_complet)</td>
                     <td>@Html.DisplayFor(modelItem => item.Colet.ID)</td>
                     <td>@Html.DisplayFor(modelItem => item.Informatii_aditionale)</td>
                     <td>@Html.DisplayFor(modelItem => item.Data_livrare)</td>
                     <td>@Html.DisplayFor(modelItem => item.Colet.Cost)</td>
                     <td>@Html.DisplayFor(modelItem => item.AWB)</td>
                     <td class="stare">@Html.DisplayFor(modelItem => item.Stare)</td>
                     <td>

                         <input type="hidden" value="preia" />
                         <input type="submit" value="Seteaza ca LIVRAT" class="button-submit text-light px-3 py-1" />

                     </td>
                 </tr>
</form>
            }
        </tbody>
    </table>
</section>



<hr />
<div class="row">
    <div class="col-md-4">
        <form type="hidden" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.CurierID" class="control-label"></label>
                <select type="hidden" asp-for="Comanda.CurierID" class="form-control" asp-items="ViewBag.CurierID"></select>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.ColetID" class="control-label"></label>
                <select type="hidden" asp-for="Comanda.ColetID" class="form-control" asp-items="ViewBag.ColetID"></select>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.Informatii_aditionale" class="control-label"></label>
                <input type="hidden" asp-for="Comanda.Informatii_aditionale" class="form-control" />
                <span type="hidden" asp-validation-for="Comanda.Informatii_aditionale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.Stare" class="control-label"></label>
                <input type="hidden" asp-for="Comanda.Stare" class="form-control" />
                <span type="hidden" asp-validation-for="Comanda.Stare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.Data_livrare" class="control-label"></label>
                <input type="hidden" asp-for="Comanda.Data_livrare" class="form-control" />
                <span type="hidden" asp-validation-for="Comanda.Data_livrare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="Comanda.AWB" class="control-label"></label>
                <input type="hidden" asp-for="Comanda.AWB" class="form-control" />
                <span type="hidden" asp-validation-for="Comanda.AWB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="hidden" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
