@page
@model TheLivery.Pages.Colete.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Greutate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Greutate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Inaltime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Inaltime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Latime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Latime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Firma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Firma.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colet.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colet.Client.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Colet.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
